*.idea
node_modules
.env
*.aux
*.out
*.log
*.gz
build*
*lock*
*.pdf
!task.pdf
!kpp.pdf
!Kovalenko_diploma.pdf
bin/
obj/
venv/
.vs
*.toc
target
output.txt
Debug
**/Core/Startup/*
**/Core/Inc/*
**/Core/Src/*
!**/Core/Src/*.h
!**/Core/Src/main.c
Drivers
Middlewares
USB_HOST
*.ld
*.launch
