<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="message in messages">{{ message.name }}: {{ message.message }}</li>
      </ul>
      <form @submit.prevent="sendMessage">
        <input v-model="message" placeholder="Type your message here" />
        <button>Send</button>
      </form>
    </div>

    <script>
      const socket = io();
      const app = new Vue({
        el: '#app',
        data: {
          message: '',
          messages: []
        },
        methods: {
          sendMessage() {
            socket.emit('chat message', this.message);
            this.message = '';
          }
        }
      });

      socket.on('chat message', function(message) {
        app.messages.push({ name: 'Anonymous', message: message });
      });

      socket.on('load messages', function(messages) {
        messages.forEach((message) => {
          app.messages.push({ name: message.name, message: message.message });
        })
      });
    </script>
  </body>
</html>

